/.gradle/
/test-utils/build/
/test-utils/.clover/
/.nb-gradle/
/build/
/common-utils/build/
/haVox_utils_common_data/build/
/haVox_java_utils_common_data/build/
/havox_java_utils_test/build/
/haVox_java_utils_test/build/
/haVox_java_utils_io/build/
/haVox_java_utils_webservices/build/
/haVox_java_utils_common_data/.gradle/
/haVox_java_utils_identifiers/build/
/haVox_java_utils_io/.gradle/
/haVox_java_utils_test/.gradle/
/haVox_java_utils_test/.clover/
/haVox_java_utils_webservices/.gradle/